<!-- add link to stylesheet using static -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- navigation for students -->
	<header>
		<a href="">Students</a> | 
		<a href="">Add Students</a> |
		<a href="">Courses</a> | 
		<a href="">Add Courses</a>
	</header>

    <!-- add body content tags -->
	
</body>
</html>