{% extends 'base.html' %}

{% block content %}
	<h2>Student List</h2>
		<!-- resolves to false if there are no objects -->
		{% if object_list %}
			<table>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Amount Owed</th>
					<th>Graduated</th>
					<th>Profile Picture</th>
				</tr>
				{% for student in object_list %}
					<tr>
						<td>{{student}}</td>
						<td>{{student.age}} </td>
						<td>{{student.amount_owed}}</td>
						<td>{{student.is_graduated}}</td>
						<td><img src="{{student.profile_pic.url}}" alt="" width="100"></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h5>No results to display</h5>
		{% endif %}
	</ul>

	<a href="addStudent" class="custom-button">Add new Student</a>
	
{% endblock %}