{% extends 'base.html' %}

{% block content %}
	<h2>Add Students</h2>
	<form action='' method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" name="first_name" class="custom-textfield"></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" name="last_name" class="custom-textfield"></td>
			</tr>
			<tr>
				<td>Profile Picture:</td>
				<td>
					<label class="file">
						<input type="file" name="profile_pic">
						<span class="file-custom"></span>
					</label>
				</td>
			</tr>
			<tr>
				<td>Date of Birth:</td>
				<td><input type="date" name="date_of_birth" class="custom-textfield"></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<label class="container">Graduated
						<input type="checkbox" name="graduated">
						<span class="checkmark"></span>
					</label>
				</td>
			</tr>
		</table>
		<input type="submit" class="custom-button">
	</form>	

	<div>
		{% for message in messages %}
			<h3>{{message}}</h3>
		{% endfor %}
	</div>

{% endblock%}